body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 7px;
    background: rgb(255, 255, 255);
}

body::-webkit-scrollbar-thumb {
    background: #a02d83;
    border-radius: 0;
}


/*/////////////////////-HOME start-///////////////////////*/

#header {
    position: fixed;
    height: 100px;
    width: 100%;
    background-color: yellow;
    opacity: 0.75;
    z-index: 999999999999999999999999999999;
}

#imgHeaderModal {
    display: none;
    margin: 40px;
    cursor: pointer;
    opacity: 0.75;
    color: rgb(0, 0, 0);
}

#imgHeaderModal:hover {
    opacity: 1;
}

#header img {
    width: 300px;
    cursor: pointer;
}

#home {
    background-image: url("https://http2.mlstatic.com/galpon-11x30x5-y-15x30x6-metros-galpones-todas-las-medidas-D_NQ_NP_909125-MLC25397620049_022017-F.jpg");
    background-size: 110%;
}

.homeContent {
    height: 680px;
    width: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    color: azure;
}

.titulo {
    display: flex;
    align-items: flex-end;
    padding-bottom: 25px;
    justify-content: center;
}

.filtros {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: 45px;
    margin-right: 45px;
}

.filtros select {
    margin-left: 5px;
    margin-right: 5px;
}

.filtros input {
    margin-left: 5px;
    margin-right: 5px;
}

.filtros button {
    margin-left: 5px;
    margin-right: 5px;
}

.filtros input:focus,
.filtros select:focus {
    outline: none !important;
    border: 1px solid rgb(255, 208, 0);
    box-shadow: 0 0 10px rgb(207, 182, 67);
}

.direccion {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 25px;
    margin-top: 35px;
}

.direccion h1 {
    background-color: black;
    opacity: 0.80;
}


/*//////////////////////////////INMUEBLES////////////////////////////////*/

#inmueblesViewPage {
    display: none;
    padding-top: 145px;
    background-image: url("http://www.albertorossipropiedades.com/Files/250216/Sliders/2_250216_3514575_fondo%20s.jpg");
    background-position-y: -85px;
}

#inmuebles {
    height: 650px;
    width: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 3fr!important;
    background-color: white;
}

#filtrosInmuebles {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
}

.contenidoFIltros div {
    margin-top: 15px;
}

.contenidoFIltros h4 {
    margin-top: 15px;
}

#filtrosInmuebles h4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
}

#inmueblesVistas {
    padding-top: 35px;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(197, 197, 197);
}

.filtrosVista {
    display: grid;
    grid-template-columns: 1fr;
    height: 30px;
}

.filtrosVista p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buscador {
    margin-bottom: 25px;
    margin-left: 245px;
    width: 535px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#vistaDeInmuebles {
    display: grid;
    grid-template-columns: 1fr;
}

#inmuebleCard {
    margin: 15px;
}


/*////////////////////////--CARD--///////////////////////////////*/

.blog-card {
    box-sizing: border-box;
    display: flex;
    width: 1200px;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, .1);
    margin-bottom: 1.6%;
    background: #fff;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
}

.blog-card a {
    color: inherit;
}

.blog-card a:hover {
    color: #5ad67d;
}

.blog-card:hover .photo {
    transform: scale(1.3) rotate(3deg);
}

.blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
}

.blog-card .photo {
    position: absolute;
    top: 0;
    /* background-image: url("https://imgar.zonapropcdn.com/avisos/1/00/42/60/28/15/1200x1200/1659663881.jpg");*/
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
}

.imgPhotoCard {
    width: 100%;
    height: 100%;
}

.blog-card .details,
.blog-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
}

.blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;
}

.blog-card .details a {
    text-decoration: dotted underline;
}

.blog-card .details ul li {
    display: inline-block;
}

.blog-card .details .author:before {}

.blog-card .details .date:before {}

.blog-card .details .tags ul:before {}

.blog-card .details .tags li {
    margin-right: 2px;
}

.blog-card .details .tags li:first-child {
    margin-left: -4px;
}

.blog-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
}

.blog-card .description h1,
.blog-card .description h2 {
    font-family: Poppins, sans-serif;
}

.blog-card .description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
}

.blog-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 5px;
}

.blog-card .description .read-more {
    text-align: right;
}

.blog-card .description .read-more a {
    color: #5ad67d;
    display: inline-block;
    position: relative;
}

.blog-card .description .read-more a:after {
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin 0.3s, opacity 0.3s;
}

.blog-card .description .read-more a:hover:after {
    margin-left: 5px;
    opacity: 1;
}

.blog-card p {
    position: relative;
    margin: 1rem 0 0;
}

.blog-card p:first-of-type {
    margin-top: 1.25rem;
}

.blog-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    background: #5ad67d;
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
}

.blog-card:hover .details {
    left: 0%;
}

@media (min-width: 640px) {
    .blog-card {
        flex-direction: row;
        max-width: 700px;
    }
    .blog-card .meta {
        flex-basis: 40%;
        height: auto;
    }
    .blog-card .description {
        flex-basis: 60%;
    }
    .blog-card .description:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
    .blog-card.alt {
        flex-direction: row-reverse;
    }
    .blog-card.alt .description:before {
        left: inherit;
        right: -10px;
        transform: skew(3deg);
    }
    .blog-card.alt .details {
        padding-left: 25px;
    }
}

.caracteristicasCard i {
    color: gray;
}

.caracteristicasCard i {
    margin-left: 5px;
}


/*///////////////////PROPIEDADES DESTACADAS///////////////////////////////*/

.propiedadesDestacadas {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBB%0D%0AZG9iZSBJbGx1c3RyYXRvciAyMi4wLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9u%0D%0AOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3%0D%0Ady53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hs%0D%0AaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDE5MTcuNCA5OTUiIHN0eWxlPSJl%0D%0AbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE5MTcuNCA5OTU7IiB4bWw6c3BhY2U9InByZXNlcnZl%0D%0AIj4NCjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+DQoJLnN0MHtmaWxsOm5vbmU7fQ0KCS5zdDF7Zmls%0D%0AbDojRjZGNkY2O30NCgkuc3Qye2ZpbGw6I0IyQjJCMjt9DQoJLnN0M3tmaWxsOnVybCgjU1ZHSURf%0D%0AMV8pO30NCgkuc3Q0e2Rpc3BsYXk6bm9uZTt9DQoJLnN0NXtkaXNwbGF5OmlubGluZTt9DQoJLnN0%0D%0ANntmaWxsOm5vbmU7c3Ryb2tlOiMzRjNGM0Y7c3Ryb2tlLXdpZHRoOjM7c3Ryb2tlLW1pdGVybGlt%0D%0AaXQ6MTA7fQ0KPC9zdHlsZT4NCjxwYXR0ZXJuICB4PSItMTkzNy40IiB5PSI0LjEiIHdpZHRoPSIy%0D%0AMDAiIGhlaWdodD0iMjAwIiBwYXR0ZXJuVW5pdHM9InVzZXJTcGFjZU9uVXNlIiBpZD0iTnVldmFf%0D%0AbXVlc3RyYV9kZV9tb3Rpdm9fMSIgdmlld0JveD0iMCAtMjAwIDIwMCAyMDAiIHN0eWxlPSJvdmVy%0D%0AZmxvdzp2aXNpYmxlOyI+DQoJPGc+DQoJCTxyZWN0IHk9Ii0yMDAiIGNsYXNzPSJzdDAiIHdpZHRo%0D%0APSIyMDAiIGhlaWdodD0iMjAwIi8+DQoJCTxwb2x5Z29uIGNsYXNzPSJzdDEiIHBvaW50cz0iMCww%0D%0AIDI4LjgsMCAwLC0yOC44IAkJIi8+DQoJCTxwb2x5Z29uIGNsYXNzPSJzdDEiIHBvaW50cz0iMCwt%0D%0AMjAwIDAsLTE3MS4yIDI4LjgsLTIwMCAJCSIvPg0KCQk8cG9seWdvbiBjbGFzcz0ic3QxIiBwb2lu%0D%0AdHM9IjEzNS4yLC0yMDAgMjAwLC0xMzUuMiAyMDAsLTE1NC4yIDE1NC4yLC0yMDAgCQkiLz4NCgkJ%0D%0APHBvbHlnb24gY2xhc3M9InN0MSIgcG9pbnRzPSIxMDAsLTIwMCAyMDAsLTEwMCAyMDAsLTExOC4y%0D%0AIDExOC4yLC0yMDAgCQkiLz4NCgkJPHBvbHlnb24gY2xhc3M9InN0MSIgcG9pbnRzPSIxNzEuMiwt%0D%0AMjAwIDIwMCwtMTcxLjIgMjAwLC0yMDAgCQkiLz4NCgkJPHBvbHlnb24gY2xhc3M9InN0MSIgcG9p%0D%0AbnRzPSI0NS44LC0yMDAgMCwtMTU0LjIgMCwtMTM1LjIgNjQuOCwtMjAwIAkJIi8+DQoJCTxwb2x5%0D%0AZ29uIGNsYXNzPSJzdDEiIHBvaW50cz0iMCwtODEuOCA4MS44LDAgMTAwLDAgMCwtMTAwIAkJIi8+%0D%0ADQoJCTxwb2x5Z29uIGNsYXNzPSJzdDEiIHBvaW50cz0iODEuOCwtMjAwIDAsLTExOC4yIDAsLTEw%0D%0AMCAxMDAsLTIwMCAJCSIvPg0KCQk8cG9seWdvbiBjbGFzcz0ic3QxIiBwb2ludHM9IjAsLTQ1Ljgg%0D%0ANDUuOCwwIDY0LjgsMCAwLC02NC44IAkJIi8+DQoJCTxwb2x5Z29uIGNsYXNzPSJzdDEiIHBvaW50%0D%0Acz0iMTU0LjIsMCAyMDAsLTQ1LjggMjAwLC02NC44IDEzNS4yLDAgCQkiLz4NCgkJPHBvbHlnb24g%0D%0AY2xhc3M9InN0MSIgcG9pbnRzPSIyMDAsMCAyMDAsLTI4LjggMTcxLjIsMCAJCSIvPg0KCQk8cG9s%0D%0AeWdvbiBjbGFzcz0ic3QxIiBwb2ludHM9IjExOC4yLDAgMjAwLC04MS44IDIwMCwtMTAwIDEwMCww%0D%0AIAkJIi8+DQoJCTxwb2x5Z29uIGNsYXNzPSJzdDEiIHBvaW50cz0iNjEuNSwtMTQ2LjIgOTIuMywt%0D%0AMTE1LjQgMTE1LjQsLTEzOC41IDEwMCwtMTUzLjggOTIuMywtMTQ2LjIgMTAwLC0xMzguNSA5Mi4z%0D%0ALC0xMzAuOCA3Ni45LC0xNDYuMiANCgkJCTEwMCwtMTY5LjIgMTMwLjgsLTEzOC41IDEwMS4yLC0x%0D%0AMDguOSA5MS4xLC05OC44IDYxLjUsLTY5LjIgMzAuOCwtMTAwIDUzLjgsLTEyMy4xIDY5LjIsLTEw%0D%0ANy43IDYxLjUsLTEwMCA1My44LC0xMDcuNyA0Ni4yLC0xMDAgDQoJCQk2MS41LC04NC42IDg0LjYs%0D%0ALTEwNy43IDUzLjgsLTEzOC41IDE1LjQsLTEwMCA1My44LC02MS42IDUzLjgsLTYxLjYgMTAwLC0x%0D%0ANS40IDEzOC41LC01My44IDEwNy43LC04NC42IDg0LjYsLTYxLjUgMTAwLC00Ni4yIA0KCQkJMTA3%0D%0ALjcsLTUzLjggMTAwLC02MS41IDEwNy43LC02OS4yIDEyMy4xLC01My44IDEwNy43LC0zOC41IDEw%0D%0AMCwtMzAuOCA2OS4yLC02MS41IDk3LjcsLTkwIDExMCwtMTAyLjMgMTM4LjUsLTEzMC44IDE2OS4y%0D%0ALC0xMDAgDQoJCQkxNDYuMiwtNzYuOSAxMzAuOCwtOTIuMyAxMzguNSwtMTAwIDE0Ni4yLC05Mi4z%0D%0AIDE1My44LC0xMDAgMTM4LjUsLTExNS40IDExNS40LC05Mi4zIDE0Ni4yLC02MS41IDE4NC42LC0x%0D%0AMDAgMTM1LjEsLTE0OS41IA0KCQkJMTAwLC0xODQuNiAJCSIvPg0KCQk8cGF0aCBjbGFzcz0ic3Qy%0D%0AIiBkPSJNMTAwLTIwMGwxMDAsMTAwTDEwMCwwTDAtMTAwTDEwMC0yMDB6IE0xMzUuMS0xNDkuNUwx%0D%0AMDAtMTg0LjZsLTM4LjUsMzguNWwzMC44LDMwLjhsMjMuMS0yMy4xTDEwMC0xNTMuOA0KCQkJbC03%0D%0ALjcsNy43bDcuNyw3LjdsLTcuNyw3LjdsLTE1LjQtMTUuNGwyMy4xLTIzLjFsMzAuOCwzMC44bC0y%0D%0AOS41LDI5LjVMOTEuMS05OC44TDYxLjUtNjkuMkwzMC44LTEwMGwyMy4xLTIzLjFsMTUuNCwxNS40%0D%0ADQoJCQlsLTcuNyw3LjdsLTcuNy03LjdsLTcuNyw3LjdsMTUuNCwxNS40bDIzLjEtMjMuMWwtMzAu%0D%0AOC0zMC44TDE1LjQtMTAwbDM4LjQsMzguNGgwTDEwMC0xNS40bDM4LjUtMzguNWwtMzAuOC0zMC44%0D%0ATDg0LjYtNjEuNQ0KCQkJTDEwMC00Ni4ybDcuNy03LjdsLTcuNy03LjdsNy43LTcuN2wxNS40LDE1%0D%0ALjRsLTE1LjQsMTUuNGwtNy43LDcuN0w2OS4yLTYxLjVMOTcuNy05MGwxMi4zLTEyLjNsMjguNS0y%0D%0AOC41bDMwLjgsMzAuOGwtMjMuMSwyMy4xDQoJCQlsLTE1LjQtMTUuNGw3LjctNy43bDcuNyw3Ljds%0D%0ANy43LTcuN2wtMTUuNC0xNS40bC0yMy4xLDIzLjFsMzAuOCwzMC44bDM4LjUtMzguNUwxMzUuMS0x%0D%0ANDkuNXoiLz4NCgkJPHBvbHlnb24gY2xhc3M9InN0MiIgcG9pbnRzPSIxMTguMiwtMjAwIDIwMCwt%0D%0AMTE4LjIgMjAwLC0xMzUuMiAxMzUuMiwtMjAwIAkJIi8+DQoJCTxwb2x5Z29uIGNsYXNzPSJzdDIi%0D%0AIHBvaW50cz0iMTU0LjIsLTIwMCAyMDAsLTE1NC4yIDIwMCwtMTcxLjIgMTcxLjIsLTIwMCAJCSIv%0D%0APg0KCQk8cG9seWdvbiBjbGFzcz0ic3QyIiBwb2ludHM9IjEzNS4yLDAgMjAwLC02NC44IDIwMCwt%0D%0AODEuOCAxMTguMiwwIAkJIi8+DQoJCTxwb2x5Z29uIGNsYXNzPSJzdDIiIHBvaW50cz0iMTcxLjIs%0D%0AMCAyMDAsLTI4LjggMjAwLC00NS44IDE1NC4yLDAgCQkiLz4NCgkJPHBvbHlnb24gY2xhc3M9InN0%0D%0AMiIgcG9pbnRzPSI2NC44LC0yMDAgMCwtMTM1LjIgMCwtMTE4LjIgODEuOCwtMjAwIAkJIi8+DQoJ%0D%0ACTxwb2x5Z29uIGNsYXNzPSJzdDIiIHBvaW50cz0iMjguOCwtMjAwIDAsLTE3MS4yIDAsLTE1NC4y%0D%0AIDQ1LjgsLTIwMCAJCSIvPg0KCQk8cG9seWdvbiBjbGFzcz0ic3QyIiBwb2ludHM9IjAsLTY0Ljgg%0D%0ANjQuOCwwIDgxLjgsMCAwLC04MS44IAkJIi8+DQoJCTxwb2x5Z29uIGNsYXNzPSJzdDIiIHBvaW50%0D%0Acz0iMCwtMjguOCAyOC44LDAgNDUuOCwwIDAsLTQ1LjggCQkiLz4NCgk8L2c+DQo8L3BhdHRlcm4+%0D%0ADQo8ZyBpZD0iQkFDS0dST1VORCI+DQoJPHBhdHRlcm4gIGlkPSJTVkdJRF8xXyIgeGxpbms6aHJl%0D%0AZj0iI051ZXZhX211ZXN0cmFfZGVfbW90aXZvXzEiIHBhdHRlcm5UcmFuc2Zvcm09Im1hdHJpeCgw%0D%0ALjk4NDMgMCAwIDEgLTI0OS41MjgzIC00Ni4xOTI1KSI+DQoJPC9wYXR0ZXJuPg0KCTxyZWN0IGNs%0D%0AYXNzPSJzdDMiIHdpZHRoPSIxOTE3LjQiIGhlaWdodD0iOTk1Ii8+DQo8L2c+DQo8ZyBpZD0iVEVY%0D%0AVCIgY2xhc3M9InN0NCI+DQoJPGcgY2xhc3M9InN0NSI+DQoJCQ0KCQkJPHRleHQgdHJhbnNmb3Jt%0D%0APSJtYXRyaXgoMSAwIDAgMSAtMTQwMy41ODU4IDYyNy4wNTgyKSIgc3R5bGU9ImZpbGw6IzNGM0Yz%0D%0ARjsgZm9udC1mYW1pbHk6J01vbnRzZXJyYXQtUmVndWxhcic7IGZvbnQtc2l6ZToyMy4xMzY4cHg7%0D%0AIGxldHRlci1zcGFjaW5nOjI7Ij5TVEFSVCBVUDwvdGV4dD4NCgkJDQoJCQk8dGV4dCB0cmFuc2Zv%0D%0Acm09Im1hdHJpeCgxIDAgMCAxIC0xNDcxLjI2OTQgNTkwLjc3NTkpIiBzdHlsZT0iZmlsbDojM0Yz%0D%0ARjNGOyBmb250LWZhbWlseTonTW9udHNlcnJhdC1FeHRyYUJvbGQnOyBmb250LXNpemU6NTAuMzg4%0D%0AcHg7Ij5CVVNJTkVTUzwvdGV4dD4NCgkJPGxpbmUgY2xhc3M9InN0NiIgeDE9Ii0xMzUwLjgiIHkx%0D%0APSI2NTQuNCIgeDI9Ii0xMzI0LjEiIHkyPSI2NTQuNCIvPg0KCQk8cmVjdCB4PSItMTUzMi41IiB5%0D%0APSI2NzkuMSIgY2xhc3M9InN0MCIgd2lkdGg9IjM5MC4yIiBoZWlnaHQ9Ijc0LjciLz4NCgkJPHRl%0D%0AeHQgdHJhbnNmb3JtPSJtYXRyaXgoMSAwIDAgMSAtMTUyNi44NDc1IDY4OS44Mjk3KSI+PHRzcGFu%0D%0AIHg9IjAiIHk9IjAiIHN0eWxlPSJmaWxsOiMzRjNGM0Y7IGZvbnQtZmFtaWx5OidNb250c2VycmF0%0D%0ALUxpZ2h0JzsgZm9udC1zaXplOjE1LjA0MTdweDsiPkxvcmVtIGlwc3VtIGRvbG9yIHNpdCBhbWV0%0D%0ALCBjb25zZWN0ZXR1ZXIgYWRpcGlzY2luZyBlbGl0LCBzZWQgPC90c3Bhbj48dHNwYW4geD0iMTAu%0D%0AMiIgeT0iMTgiIHN0eWxlPSJmaWxsOiMzRjNGM0Y7IGZvbnQtZmFtaWx5OidNb250c2VycmF0LUxp%0D%0AZ2h0JzsgZm9udC1zaXplOjE1LjA0MTdweDsiPmRpYW0gbm9udW1teSBuaWJoIGV1aXNtb2QgdGlu%0D%0AY2lkdW50IHV0IGxhb3JlZXQgZG9sb3JlIDwvdHNwYW4+PHRzcGFuIHg9Ii0wLjkiIHk9IjM2LjEi%0D%0AIHN0eWxlPSJmaWxsOiMzRjNGM0Y7IGZvbnQtZmFtaWx5OidNb250c2VycmF0LUxpZ2h0JzsgZm9u%0D%0AdC1zaXplOjE1LjA0MTdweDsiPm1hZ25hIGFsaXF1YW0gZXJhdCB2b2x1dHBhdC4gVXQgd2lzaSBl%0D%0AbmltIGFkIG1pbmltIHZlbmlhbSwgPC90c3Bhbj48dHNwYW4geD0iLTEuNSIgeT0iNTQuMiIgc3R5%0D%0AbGU9ImZpbGw6IzNGM0YzRjsgZm9udC1mYW1pbHk6J01vbnRzZXJyYXQtTGlnaHQnOyBmb250LXNp%0D%0AemU6MTUuMDQxN3B4OyI+cXVpcyBub3N0cnVkIGV4ZXJjaSB0YXRpb24gdWxsYW1jb3JwZXIgc3Vz%0D%0AY2lwaXQgbG9ib3J0aXMgbmlzbCB1dCA8L3RzcGFuPjwvdGV4dD4NCgk8L2c+DQo8L2c+DQo8L3N2%0D%0AZz4NCg==");
    background-size: 111%;
}

.propiedadesDestacadas h3 {
    text-decoration: underline;
}

.cardDestacados {
    margin: 0 auto;
    display: grid;
    padding-bottom: 15px;
    grid-template-columns: 1fr 1fr;
}

.imgDestacado {}

.imgDestacado img {
    width: 400px;
    height: 350px;
    float: right;
    box-shadow: 11px 10px 5px rgba(0, 0, 0, 0.363);
}

.precioCardDestacada {
    position: relative;
    width: 100px;
    text-align: start;
    padding-left: 3px;
    top: 15px;
    left: 220px;
    padding: 5px;
    background-color: yellow;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.363);
}

.propiedadesDeInmuebleDestacado {
    background-color: yellow;
    width: 400px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.363);
}


/*///////////////////////////////////////////////////////////////*/


/*/////////////////////////////CONTACTO HOME ///////////////////////////*/

.contactoHome {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
}

#map {
    height: 580px
}

.contactoFOrm {
    margin: 35px;
}

.contactoFOrm input,
.contactoFOrm select,
.contactoFOrm textarea {
    outline: none !important;
    border: 1px solid rgb(255, 208, 0);
}

.contactoFOrm input:focus,
.contactoFOrm select:focus,
.contactoFOrm textarea:focus {
    outline: none !important;
    border: 1px solid rgb(255, 208, 0);
    box-shadow: 0 0 10px rgb(207, 182, 67);
}

.contactoFOrm h4 {
    color: rgb(219, 110, 219);
}

#openModal {
    cursor: pointer;
}

#openModal:hover {
    cursor: pointer;
    text-decoration: underline;
}


/******************MODAL***************/

#modal {
    display: none;
}

#modalCard {
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 999999999999;
    width: 100%;
    height: 100%;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    overflow: scroll;
    overflow-x: hidden;
}

#modalCard::-webkit-scrollbar {
    width: 7px;
    background: rgb(255, 255, 255);
}

#modalCard::-webkit-scrollbar-thumb {
    background: #a02d83;
    border-radius: 0;
}

#formularioModal {
    display: none;
    position: fixed;
    right: 90px;
    top: 40px;
    width: 500px;
}

.btnModal {
    background-color: #a02d83;
    border-style: none;
    border-radius: 0;
}

#modalScrollingContent {
    /*background-color: #b972a7;*/
}

.imgCarrouselModal {
    width: 500px;
}

#carouselExampleIndicators {
    margin-top: 100px;
}

.buttonsOptions {
    margin-top: 25px;
}

.btn-outline-secondary {
    border-color: rgb(172, 9, 90);
    color: black;
}

.btn-outline-secondary:hover {
    border-color: rgb(172, 9, 90);
    background-color: rgb(172, 9, 90);
    color: #fff;
}

#descriptcionModal {
    text-align: start;
    margin: 15px;
}

.caracteristicas1 {
    margin-bottom: 15px;
    margin-top: 15px;
}

.caracteristicas2 {
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 15px;
    text-align: start;
}

.page-item {
    cursor: pointer;
}

.pagiantionAlign {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerInmuebles {
    width: 100%;
    bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
}

.upperText {
    text-transform: uppercase;
}


/*//////////////////// MEDIA@QUERYS ///////////////////////*/

@media (max-width: 846px) {
    .displaynoneinmovile {
        display: none;
    }
    #home {
        background-size: 410%;
        background-position-x: -450px;
        text-align: center;
    }
    #home input {
        width: 60%;
        margin-left: 0;
        font-size: 12px;
    }
    #home button {
        font-size: 12px;
    }
    .contactoHome {
        display: grid;
        grid-template-columns: 1fr!important;
    }
    .blog-card {
        width: 270px;
    }
    .buscador {
        width: 200px!important;
        margin: 0;
        margin-left: 25px;
        padding: 0;
        text-align: center!important;
    }
    #modalCard {
        position: fixed;
        top: 0;
        background-color: #fff;
        z-index: 999999999999;
        width: 100%;
        height: 100%;
        display: grid;
        text-align: center;
        grid-template-columns: 1fr;
        overflow: scroll;
        overflow-x: hidden;
    }
    #formularioModal {
        position: relative;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        right: 0;
    }
    #inmueblesViewPage {
        background-size: 330%;
        background-position-x: -85px;
        background-position-y: -85px;
    }
}


/*////////////////////////////////////////////////////////////////*/

.buscador input:focus,
.buscador select:focus {
    outline: none !important;
    border: 1px solid rgb(172, 9, 90);
    box-shadow: 0 0 10px rgb(172, 9, 90);
}

.headerOptionsMenu {
    color: rgb(238, 124, 223);
    position: fixed;
    right: 0px;
    top: 35px;
}

.headerOptionsMenu p {
    display: inline-block;
    margin-right: 60px;
    cursor: pointer;
    font-size: 20px;
    opacity: 0.45;
}

.headerOptionsMenu p:hover {
    opacity: 1;
}

.midleee {
    text-align: center;
    background-color: #afafaf;
    color: #fff;
    padding: 65px;
    font-family: 'Pathway Gothic One', sans-serif;
}

.colorInLine {
    color: yellow;
}

.copyright {
    text-align: center;
    background-color: black;
    color: #fff;
    padding: 15px;
}
